<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Logistics!
  </h1></div>

<!-- <app-impdata [logis]="importList"></app-impdata> -->
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Export"><app-expdata></app-expdata></mat-tab>
  <mat-tab label="Import"><app-impdata></app-impdata></mat-tab>
  <mat-tab label="Allocation"><app-alldata></app-alldata></mat-tab>
</mat-tab-group>
<!-- <router-outlet></router-outlet> -->
